thead {
    color: white;
    background: #1c43ac;
}
tbody{
    border-left: solid #ccc 1px;
    border-right: solid #ccc 1px;

}
tr, td {
    padding: 30px;
    text-align: center;
}

.menuItemAdd{
    background: #e7ebf3;
    margin-top: -30px;
    padding: 5px;
    text-align: right;
}
